name: Pipeline Terraform AWS (Free Tier)

on:
  push:

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      # ⚠️ APPLY solo para pruebas educativas
      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Crear evidencia
        run: |
          echo "EVIDENCIA TERRAFORM AWS" > evidencia.txt
          echo "Bucket S3 creado correctamente" >> evidencia.txt
          date >> evidencia.txt
          cat evidencia.txt

      - name: Subir evidencia
        uses: actions/upload-artifact@v4
        with:
          name: evidencia-aws
          path: evidencia.txt
